# name: Playwright Tests on Vercel preview deployment

# on:
#   repository_dispatch:
#     types:
#       - "vercel.deployment.success"
#       - "vercel.deployment.ready"
# jobs:
#   run-e2es:
#     if: github.event_name == 'repository_dispatch'
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#         with:
#           ref: ${{ github.event.client_payload.git.sha }}
#       - name: Install dependencies
#         run: npm i -g pnpm && pnpm install && pnpx playwright install --with-deps
#       - name: Run tests
#         run: pnpx playwright test
#         env:
#           BASE_URL: ${{ github.event.client_payload.url }}
